<!-- notice/edit.html-->

<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

  <title></title>
</head>
<body>
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">관리자모드</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/admin/main">첫화면 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/buy">거래관리</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/goods">상품관리</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/member">회원관리</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/notice">게시판관리</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/logout">로그아웃</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class="jumbotron jumbotron-fluid" style="background-color: transparent;">
    <div class="container">
      <h1 class="display-4">Fluid jumbotron</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
  </div>
  <h3>공지사항</h3>
  <form method="post" action="/admin/notice/edit" >
    <input type="hidden" name="id" th:value="${noticeEdit.id}">
    <input type="hidden" name="noticeHits" th:value="${noticeEdit.noticeHits}">
    <div class="form-group">
      <label for="exampleFormControlInput1">제목</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="제목을 입력하세요" required
             name="noticeTitle" th:value="${noticeEdit.noticeTitle}">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput2">이름</label>
      <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="이름을 입력하세요" required
             name="noticeWriter" th:value="${noticeEdit.noticeWriter}">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">내용</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                name="noticeContents" th:text="${noticeEdit.noticeContents}">
  </textarea>
    </div>
    <button type="submit" class="btn btn-info">글수정</button>
  </form>

</div>

<div class="jumbotron jumbotron-fluid my-4" style="background-color: transparent;">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>





<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

</body>
</html></title>
</head>
<body>

</body>
</html>