<!--goods/list.html-->

<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" xintegrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/custom.css}">
  <title>상품 목록</title>
</head>
<body>

<div th:replace="~{admin/include/adminHeader.html :: adminHeader}"></div>

<div style="width: 80%; display: block; margin: 20px auto;">

  <h3>상품 목록</h3>
  <table class="table" style="table-layout: fixed;">
    <thead>
    <tr>
      <th scope="col" class="text-center" style="width: 5%;">번호</th>
      <th scope="col" class="text-center" style="width: 15%;">이미지</th>
      <th scope="col" style="width: 25%;">상품명</th> <!-- 20% -> 25% (여유 확보) -->
      <th scope="col" class="text-center" style="width: 10%;">가격</th>
      <th scope="col" class="text-center" style="width: 10%;">브랜드</th>
      <th scope="col" class="text-center" style="width: 10%;">등록일</th>
      <th scope="col" class="text-center" style="width: 25%;">관리</th> <!-- colspan 제거, 너비 25% 유지 -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="goods: ${goodsList}">
      <td class="text-center" th:text="${goods.id}"></td>
      <td class="text-center">
        <img th:src="@{|/upload/${goods.storedFileName}|}" style="width:100px; max-width: 100%;">
      </td>
      <td> <a th:href="@{|/admin/goods/detail/${goods.id}|}" th:text="${goods.goodsTitle}"></a></td>
      <td class="text-center" th:text="${goods.goodsCost}"></td>
      <td class="text-center" th:text="${goods.goodsBrand}"></td>
      <td class="text-center" th:text="${#temporals.format(goods.createdTime, 'yyyy-MM-dd')}"></td>

      <td class="text-center">
        <a th:href="@{/admin/goods/edit/{id} (id=${goods.id})}" class="btn btn-primary mr-3">수정</a>
        <a th:href="@{/admin/goods/delete/{id}(id=${goods.id})}"
           class="btn btn-danger"
           onclick="return confirm('정말 삭제하시겠습니까?');">삭제</a>
      </td>
    </tr>
    </tbody>
  </table>
  <a class="btn btn-lg btn-info " href="/admin/goods/write" role="button">글쓰기</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" xintegrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" xintegrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

</body>
</html>
